.input-date-range {
  position: relative;
}

.input-date-range-picker {
  position: absolute;
  top: 100%;
  margin-top: 8px;
}

.input-date-range-control {
  background-color: #fff;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #263238;
  border: 2px solid #90A4AE;
  box-shadow: 0px 4px 12px 0px #e0e0e0;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: block;
  box-sizing: border-box;
  user-select: none;
  min-width: 250px;
  text-align: center;
}

.input-date-range-control:focus {
  box-shadow: 0 0px 6px 0px #ffca28;
  border-color: #ffca28;
}
